<h1>trip#index</h1>
<h1>挑戰路線all</h1>

<% @trips.each do |t| %>
  <% if t.is_challenged?(current_user) %> <!--不知為啥只check一個就變true-->
    <button class="btn btn-primary">Done</button>
  <% end %>
  <%= link_to "#{t.name}", trip_path(t), class: "btn btn-primary"  %>
  <br>
<%end%>

