
<divclass="container">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2", style="min-height: 605px;">
    <div class="card-deck clearfix" data-step="1" data-position= "auto" data-position="top" data-intro="騎車也可以很好玩?Gogoro準備了不同的任務，等你來挑戰!! ">
      <% @trips.each do |t| %>
        <%= link_to trip_path(t) do %>
          <div class="col-xs-6 col-sm-4 col-md-3" style="padding: 5px;">
            


            <div class="card text-right box-shadow" style="background-color: #8A130D;">
              <div class="card-img-top">
                  <%= image_tag "trip/beef_noodle.png" %>
              </div>
              <div class="card-body">
                <h4 class="card-title"><%= link_to "#{t.name}", trip_path(t)%></h4>
                <p class="card-text text-muted">180 points</p>
                <p class="card-text text-muted">101人已完成</p>
              </div>
            </div>
          </div>
        <% end %>
      <%end%>          
       
    </div> 
  </div>
</div>
<script type="text/javascript">
  if (gon.sign_in_count < 2) {
    introJs().setOption('doneLabel', 'Next page').start().oncomplete(function() {
      window.location.href = 'trips/1.html?multipage=true';
    });
  };
</script>
