<div class="container">

  <div class="jumbotron">
    <h1>!挑戰路線!</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum cum earum eveniet omnis nostrum corporis excepturi repellendus at, cupiditate ut.</p>
  </div>

  <div class="row">
    <div >
      <% @trips.each do |t| %>
        <div class="thumbnail card col-xs-12 col-md-4">
          <img src="..." alt="...">
          <div class="caption">
            <p class="text-right">
              <% if t.is_challenged?(current_user) %> <!--不知為啥只check一個就變true-->
                <button class="btn btn-primary">Done</button>
              <%else%>
                <button class="btn btn-primary">Go</button>
                <%= link_to "#{t.name}", trip_path(t), class: "btn btn-primary"  %>
              <% end %> 
            </p>
          </div>
        </div>
      <%end%>
    </div>
  </div>

</div>
