
<div class="container">
  <div class="col-xs-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2", style="min-height: 605px;">
    <div class="card-deck">
      <%  color = ["2E3618", "285AB1", "985554", "B5A38E", "96AE54", "46453C"] %>
      <% i=0 %>
      <% @trips.each do |t| %>
        <%= link_to trip_path(t) do %>
          <div class="col-xs-6 col-sm-4" style="padding: 5px;">
            <div class="card card-trip text-right box-shadow" style="background-color: #<%= color[i] %>;">
              <% i+=1 %>
              <div class="card-img-top">
                  <%= image_tag t.image %>
              </div>
              <div class="card-body card-trip-body">
                <h4 class="card-title"><%= link_to "#{t.name}", trip_path(t)%></h4>
                <p class="card-text">180 points</p>
                <p class="card-text">101人已完成</p>
              </div>
            </div>
          </div>
        <% end %>
      <%end%>          
       
    </div> 
  </div>
</div>
<script type="text/javascript">
  if (gon.sign_in_count < 2) {
    introJs().setOption('doneLabel', 'Next page').start().oncomplete(function() {
      window.location.href = 'trips/1.html?multipage=true';
    });
  };
</script>
