<h1>trips#show <%= @trip.name %></h1>

<% @trip_gostations.each do |t| %>
  <% if t.status == true %>
  <!-- toggle status for testing -->
    <%= link_to 'Done', check_trip_gostation_path(t), method: :post, class: "btn btn-primary" %>
  <% else %>
    <%= link_to 'Submit', check_trip_gostation_path(t), method: :post, class: "btn btn-primary" %>
  <% end%>
  <%= t.gostation.LocName %>
<% end %>


