<h1>trips#show</h1>

<% @trip_gostations.each do |t| %>
  <% if t.status == true %>
    <button class="btn btn-primary">Done</button>
  <% else %>
    <%= link_to 'Submit', check_trip_gostation_path(t), method: :post, class: "btn btn-primary" %>
  <% end%>
  <%= t.gostation.LocName %>
<% end%>


