<!DOCTYPE html>
<html>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Gostations Direction</title>
    <%= Gon::Base.render_data %>
    <style>

      /* The side navigation menu */
      .sidenav {
          height: 100%; /* 100% Full-height */
          width: 0; /* 0 width - change this with JavaScript */
          position: fixed; /* Stay in place */
          z-index: 1; /* Stay on top */
          top: 0; /* Stay at the top */
          left: 0;
          background-color: white;/*#111; /* Black*/
          overflow-x: hidden; /* Disable horizontal scroll */
          padding-top: 60px; /* Place content 60px from the top */
          transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
      }

      /* The navigation menu links */
      .sidenav a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          color: #818181;
          display: block;
          transition: 0.3s;
      }

      /* When you mouse over the navigation links, change their color */
      .sidenav a:hover {
          color: #f1f1f1;
      }

      /* Position and style the close button (top right corner) */
      .sidenav .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
      }

      /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
      #main {
          transition: margin-left .5s;
          padding: 20px;
      }

      /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
      @media screen and (max-height: 450px) {
          .sidenav {padding-top: 15px;}
          .sidenav a {font-size: 18px;}
      }
     
      html, body {
        height: 100%;
        margin: 50;
        padding: 50;
      }
      #map {
        height: 100%;
        width: 75%;
        margin: auto;
      }

      #directions-panel {
        margin-top: 10px;
        background-color: #FFEE77;
        padding: 10px;
      }
    </style>
  </head>

  <body>

    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div id="mySidenav-content">

      </div>
    </div>
    
    <div class="col-xs-8">
      <input type="text" id="start" placeholder="輸入起點" class= "form-control">
      <br/>
      <input type="text" id="end" placeholder="輸入終點" class="form-control">
      <br/>
    </div>
    <div class="col-xs-2">
      <input id="submit" class="btn btn-default" type="submit" value="Go">
    </div>

    <div>
      <input id="address" type="textbox" placeholder="輸入目的地">
      <input id="submit_single_address" class="btn btn-default" type="button" value="Go">
    </div>

    <div id="map"></div>
    
    <script>
      var googleMapStyle = [
        {
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#f5f5f5"
            }
          ]
        },
        {
          "elementType": "labels.icon",
          "stylers": [
            {
              "visibility": "off"
            }
          ]
        },
        {
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#616161"
            }
          ]
        },
        {
          "elementType": "labels.text.stroke",
          "stylers": [
            {
              "color": "#f5f5f5"
            }
          ]
        },
        {
          "featureType": "administrative.land_parcel",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#bdbdbd"
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#eeeeee"
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#757575"
            }
          ]
        },
        {
          "featureType": "poi.park",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#e5e5e5"
            }
          ]
        },
        {
          "featureType": "poi.park",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#9e9e9e"
            }
          ]
        },
        {
          "featureType": "road",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#ffffff"
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#757575"
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#dadada"
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#616161"
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#9e9e9e"
            }
          ]
        },
        {
          "featureType": "transit.line",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#e5e5e5"
            }
          ]
        },
        {
          "featureType": "transit.station",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#eeeeee"
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [
            {
              "color": "#c9c9c9"
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "labels.text.fill",
          "stylers": [
            {
              "color": "#9e9e9e"
            }
          ]
        }
      ];


      /* Set the width of the side navigation to 400px */
      function openNav(content, storePhoto, id, button, trip_url, directions_url) {
          document.getElementById("mySidenav").style.width = "400px";
          var mySidenavContent = document.getElementById('mySidenav-content');
          mySidenavContent.innerHTML = storePhoto;
          mySidenavContent.innerHTML += content;
          mySidenavContent.innerHTML += button;
          mySidenavContent.innerHTML += trip_url;
          mySidenavContent.innerHTML += directions_url;
      }

      /* Set the width of the side navigation to 0 */
      function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
      }

      var userCurrentPos = {
        lat: 0.0,
        lng: 0.0
      };
      var start_url = null;
      var end_url = null;
      var map = null;

      function displayGostations() {
        var record_start;
        var record_end;
        
        $.ajax({
          url: start_url,
          type: 'GET',
          success: function(data) {
            record_start = data.results[0];

            $.ajax({
              url: end_url,
              type: 'GET',
              success: function(data) {
                record_end = data.results[0];

                calculateGostations(record_start, record_end);
              },
              
              error: function() {
                alert("ERROR: can not get end record!");
              }
            });
          },
          
          error: function() {
            alert("ERROR: can not get start record!");
          }
        });
      };

      function calculateGostations(record_start, record_end) {
        // --- gostations_belongs_to_trip
        setStartEndInfobox(gon.gostations_belongs_to_trip,
                           record_start.geometry.location,
                           record_end.geometry.location,
                           'http://maps.google.com/mapfiles/ms/micons/orange-dot.png');

        // --- gostations_not_belongs_to_trip
        setStartEndInfobox(gon.gostations_not_belongs_to_trip,
                           record_start.geometry.location,
                           record_end.geometry.location,
                           'http://maps.google.com/mapfiles/ms/micons/yellow-dot.png');
      };

      function getTripId(gostation_id){
        for(var i=0; i<gon.trip_gostations.length; i++){
          if(gon.trip_gostations[i].gostation_id == gostation_id){
            return gon.trip_gostations[i].trip_id;
          }
        }
        return -1;
      }

      function setStartEndInfobox(gostations, start, end, img){
        for(var i=0; i<gostations.length; i++){
          var position = {};
          position.lat = gostations[i].Latitude;
          position.lng = gostations[i].Longitude;

          if( checkLatLngInStartEndRect(position, start, end) ){
            var LocName = gostations[i].LocName;
            var Address = gostations[i].Address;
            var AvailableTime = gostations[i].AvailableTime;
            var directions_url = '<a class="btn btn-primary" href="https://www.google.com/maps/dir/Current+Location/'+Address+'" target="_blank">導航</a><br>';
            var StorePhoto = gostations[i].StorePhoto;
            var tripId = getTripId(gostations[i].id);
            var trip_url = '<a class="btn btn-default">挑戰任務</a><br>';
            if(tripId >= 0){
              trip_url = '<a class="btn btn-primary" rel="nofollow" data-method="get" href="/trips/'+tripId+'">挑戰任務</a><br>';
            }
            var infoWindowContent = '<div>站名：'+LocName+'</div><br>'
              +'<div>地址：'+Address+'</div><br>'
              +'<div>營業時間：'+AvailableTime+'</div><br>';

            var storePhoto = '<img src="'+StorePhoto+'" alt="Store Photo" width="400" height="400"><br>';
            
            addMarker({
              coords: position,
              iconImage: img,
              content: infoWindowContent,
              storePhoto: storePhoto,
              directions_url: directions_url,
              id: gostations[i].id,
              trip_url: trip_url
            });
          }
        }
      }

      function checkLatLngInStartEndRect(position, start, end){
        if( (position.lat >= start.lat && position.lat <= end.lat) || (position.lat <= start.lat && position.lat >= end.lat)){
          if( (position.lng >= start.lng && position.lng <= end.lng) || (position.lng <= start.lng && position.lng >= end.lng)){
              return true;
          }
        }
        return false;
      }

      var infoWindow = null;
      function addMarker(props){
        var marker = new google.maps.Marker({
          position: props.coords,
          animation: google.maps.Animation.DROP,
          map: map,
          icon: props.iconImage
        });

        if(props.content){
          marker.addListener('click', function(){
            if(infoWindow==null){
              infoWindow = new google.maps.InfoWindow();
            }
            else{
              infoWindow.close();
            }
            infoWindow.setContent(props.content);
            infoWindow.open(map, marker);

            var checkin_button = '<a class="btn btn-primary" rel="nofollow" data-method="post" href="/gostations/'+props.id+'/checkin">Checkin</a><br>';

            var uncheckin_button = '<a class="btn btn-info" rel="nofollow" data-method="post" href="/gostations/'+props.id+'/uncheckin">Uncheckin</a><br>';

            if( Math.abs(userCurrentPos.lat-props.coords.lat)>0.005 ||  Math.abs(userCurrentPos.lng-props.coords.lng)>0.005){
              checkin_button = '<a class="btn btn-default">Checkin</a><br>';
              uncheckin_button = '<a class="btn btn-default">Uncheckin</a><br>';
            }

            $.ajaxSetup({
              headers: { 'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content') }
            });
            $.ajax({
              url: "/gostations/"+props.id+"/getCheckinStatus",
              method: "POST",
              dataType: "json",
              success: function(data){
                if(data.status){
                  openNav(props.content, props.storePhoto, props.id, uncheckin_button, props.trip_url, props.directions_url);
                }
                else{
                  openNav(props.content, props.storePhoto, props.id, checkin_button, props.trip_url, props.directions_url);
                }
              },

              error: function() {
                alert("ERROR: can not getCheckinStatus!");
              }

            });
          });
        }
      }

      function initMap() {
        var directionsService = new google.maps.DirectionsService;
        var directionsDisplay = new google.maps.DirectionsRenderer;
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 7,
          center: {lat: 23.91566, lng: 120.66387},
          styles: googleMapStyle
        });

        // find current position of user
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            userCurrentPos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            map.setZoom(12);
            map.setCenter(userCurrentPos);
            addMarker({
              coords: userCurrentPos,
              iconImage: 'http://maps.google.com/mapfiles/ms/micons/blue.png'
            });

            // --- gostations_belongs_to_trip
            setNearbyInfobox(gon.gostations_belongs_to_trip,
                             userCurrentPos,
                             'http://maps.google.com/mapfiles/ms/micons/orange-dot.png');

            // --- gostations_not_belongs_to_trip
            setNearbyInfobox(gon.gostations_not_belongs_to_trip,
                             userCurrentPos,
                             'http://maps.google.com/mapfiles/ms/micons/yellow-dot.png');

          }, function() {
            alert('can not get current position');
          });
        } else {
          alert('Browser does not support Geolocation');
        }

        directionsDisplay.setMap(map);

        document.getElementById('submit').addEventListener('click', function() {
          calculateAndDisplayRoute(directionsService, directionsDisplay);
        });

        var geocoder = new google.maps.Geocoder();
        document.getElementById('submit_single_address').addEventListener('click', function() {
          geocodeAddress(geocoder, map);
        });

      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
      }

      function geocodeAddress(geocoder, resultsMap) {
        var address = document.getElementById('address').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            resultsMap.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: resultsMap,
              position: results[0].geometry.location
            });
            displayGostationsNearby(address);
          } else {
            alert('Geocode was not successful for the following reason: ' + status);
          }
        });
      }


      function setNearbyInfobox(gostations, des, img) {
        for(var i=0; i<gostations.length; i++){
          var position = {};
          position.lat = gostations[i].Latitude;
          position.lng = gostations[i].Longitude;

          if( checkLatLngNearby(position, des) ){
            var LocName = gostations[i].LocName;
            var AvailableTime = gostations[i].AvailableTime;
            addMarker({
              coords: position,
              iconImage: img,
              content: '<a href="https://www.google.com/maps/dir/Current+Location/'+LocName+'" target="_blank">'+LocName+'</a><br>營業時間：'+AvailableTime
            });
          }
          
        }
      }


      function displayGostationsNearby(address) {
        var url = "https://maps.googleapis.com/maps/api/geocode/json?address=" + address +"&key=AIzaSyDBlueY1pKWgE_uhgFbjH8_cO2CjJCERaA";

        var xhr = new XMLHttpRequest();
        xhr.open('get', url, true);
        xhr.send(null);

        xhr.onload = function() {
          var record = JSON.parse(xhr.responseText);
          record = record.results;

          // --- gostations_belongs_to_trip
          setNearbyInfobox(gon.gostations_belongs_to_trip,
                           record[0].geometry.location,
                           'http://maps.google.com/mapfiles/ms/micons/orange-dot.png');

          // --- gostations_not_belongs_to_trip
          setNearbyInfobox(gon.gostations_not_belongs_to_trip,
                           record[0].geometry.location,
                           'http://maps.google.com/mapfiles/ms/micons/yellow-dot.png');
        };
      }

      function checkLatLngNearby(gostation, location) {
        var disTH = 0.05;//1 km
        if( gostation.lat <= location.lat+disTH && gostation.lat >= location.lat-disTH ){
          if( gostation.lng <= location.lng+disTH && gostation.lng >= location.lng-disTH ){
            return true;
          }
        }
        return false;
      }

      function calculateAndDisplayRoute(directionsService, directionsDisplay) {
        var waypts = [];
        /*
        var checkboxArray = document.getElementById('waypoints');
        for (var i = 0; i < checkboxArray.length; i++) {
          if (checkboxArray.options[i].selected) {
            waypts.push({
              location: checkboxArray[i].value.split('(')[0],
              stopover: true
            });
          }
        }
        */

        start_url = 'https://maps.googleapis.com/maps/api/geocode/json?address=' + document.getElementById('start').value +'&key=AIzaSyDBlueY1pKWgE_uhgFbjH8_cO2CjJCERaA';
        end_url = 'https://maps.googleapis.com/maps/api/geocode/json?address=' + document.getElementById('end').value + '&key=AIzaSyDBlueY1pKWgE_uhgFbjH8_cO2CjJCERaA';

        directionsService.route({
          origin: document.getElementById('start').value,
          destination: document.getElementById('end').value,
          waypoints: waypts,
          optimizeWaypoints: true,
          travelMode: 'DRIVING'
        }, function(response, status) {
          if (status === 'OK') {
            displayGostations();
            directionsDisplay.setDirections(response);
            /*
            var route = response.routes[0];
            var summaryPanel = document.getElementById('directions-panel');
            summaryPanel.innerHTML = '';
            // For each route, display summary information.
            for (var i = 0; i < route.legs.length; i++) {
              var routeSegment = i + 1;
              summaryPanel.innerHTML += '<b>Route Segment: ' + routeSegment +
                  '</b><br>';
              summaryPanel.innerHTML += route.legs[i].start_address + ' to ';
              summaryPanel.innerHTML += route.legs[i].end_address + '<br>';
              summaryPanel.innerHTML += route.legs[i].distance.text + '<br><br>';
            }
            */
          } else {
            window.alert('Directions request failed due to ' + status);
          }
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBlueY1pKWgE_uhgFbjH8_cO2CjJCERaA&callback=initMap">
    </script>

  </body>

</html>