<div id="main" class="m-scene user-background">
  <div class="scene_element scene_element--fadeinright">
    <div class="col-md-12">
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>score</th>
          </tr>
        </thead>
        <tbody>
          <% @scores.each do |score| %>
          <tr>
            <th scope="row"><%=  %></th>
            <td><%= User.find(score['user_id']).email %></td>
            <td><%= score['sum_points'] %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <%= link_to "My Profile", user_path(current_user)%>
    </div>
  </div>
</div>
