<div class="container">
  <br>
  <div class="border col-xs-12 col-sm-8 col-sm-offset-2 white", style="min-height: 605px;">
    
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, :class => 'form-horizontal text-center'}) do |f| %>
        <%= devise_error_messages! %>
        <div class=" white " style="padding:20px;">
          <h3 class="text-center">忘記密碼?</h3>
          <br/>
          <br/>
          <br/>
          <div class="field form-group">
            <%= f.label :email, class: "col-xs-4 control-label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "float-left"%>
          </div>
        </div>
        <div class="clearfix"></div>
        <hr/>
        <div class="col-xs-12 clearfix bottom white" style="min-height: 465px;" >
          <div class="actions text-center station-buttom">
            <input class="btn btn-primary btn-lg float-left" type="submit" value="寄信重設密碼" ">

          </div>
      </div>
      <% end %>
  </div>
</div>
