/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require social-share-button
 *= require introjs
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'style';
@import 'users';
@import 'trips';
@import 'products';
@import 'registrations';

.nav-btn{
  margin-left: 30px;
  margin-right: 30px;

}


.pd0 {
  padding: 0px;
}

.text-white{
  color: #FFFFFF;
}

.text-gray{
  color: #B9BCBF;
}
.text-dark {
  color: #24586E;
}

.hr-style {
  margin: 10px 0;
}

.pig-bar {
  margin-top: 50px;
  margin-right: 0px;
  background-color: rgba(256,256,256,0.5);
  padding: 3px 56px 3px 3px;
}

.piggy {
  padding-left: 15px;
  padiing-right: 5px;
  
}

#piggy-piggy {
  margin-right: 5px;
}

.piggy-text {
  margin-top: 5px;
  padding-left: 5px;
  padiing-right: 15px;
}

.piggy img{
  height: 25px; 
  width: 25px;

}

/* footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    color: #878787;
    background-color: rgba(256, 256, 256, 0.3);
    text-align: center;
}


