.container {
  padding-top: 30px;
  padding-bottom: 55px;
}

.form-text-tyle {
  font-size: 14px;
  color: #848484;
  font-weight: 100;
}

.border{
  border:1px solid #AAAAAA;
  border-radius:10px;
}

.border-R{
  border-radius: 20px;
}

.white{
  background:#FFFFFF;
}

.mt-0 {
  margin-top: 0px;
}

.bottom{
  padding: 150px 20px 150px 20px;
}
a {
  color: #24586E;
  text-decoration: none;
}

#map {
  height: 100%;
  border: 1px solid #DDDDDD;
}

#trip-show-map {
  height: 100%;
  border: 1px solid #DDDDDD;
}

.thumbnail{
  border:none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
   font-family: "graphik-lt", "PingFangTC-Light", "Noto Sans Light";
   color: #112F3B;
   font-weight: 200;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.modal-style {
  margin-top: 70px;
}

.modal-style img {
  height: auto;
  width: 100%;
  display:block; margin:auto;
}

/*nav*/
.navbar-default{
  padding-bottom: 0px;
}
.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color:#FFFFFF;
}


.brand{
  padding-top: 4px;
  position:absolute;
  left:50%;
  margin-left:-50px !important;
  font-family: "graphik-lt", "PingFangTC-Light", "Noto Sans Light";
}

.nav-btn {
  display: inline-block; 
  margin: auto 20px;
  line-height: 50px;
}

.navbar-nav {
  margin: 0;
}

.nav-style{
  background:#FFFFFF;
  padding: 5px 5px 0px 20px;
  border:none;
  margin-bottom:0;
}
.navbar-header button{
  border:none;
}

.navbar-text {
  color: #FFFFFF;
  margin: 0 15px;
}

.nav-icon{
  margin: 1px 1px;
  display: inline-block;
  font-size: 2em;
  color:#FFFFFF;
  height:50px;

}

.nav-icon-style{
  height:32px;
  width: 66px;
  display: inline-block;
}

.my-nav-tab {
  background:#2396DB;
  padding: 5px;
  text-align: center;
  border-right: 0.5px solid #FFFFFF;
  }

.white-bg {
  background: #FFFFFF;
}
.white-text {
  color: #FFFFFF;
}
.blue-text {
  color: #112F3B;
}

.nav-number{
  margin: 1px 1px;
  display: inline-block;
  font-size: 20px;
  color: #979797;
  padding-top:8px;
}

.nav-number-inactive{
  
  display: inline-block;
  font-size: 16px;
  color: #FFFFFF;
  padding-top:5px;

}

.nav-icon a {
text-decoration:none; 
}
.table a {
  text-decoration:none;
}

/*user */

.nav-pills {
  font-size: 12px;
  margin-top: 5px;
}

input[type='file'] {
  color: transparent;
}

.media{
  margin-top: 0 ;
  margin-bottom:10px;
}

.media-heading img{
 width:20%;
 height:20%;
}

.uploader{
  padding: 0 10%;
}
.name-topping{
  padding-top:15px;
}
.user-badge{
  cursor:pointer;
  overflow:auto;
}
.user-badge img:active{
  transform:scale(2);
  opacity:0;
  transition:all .4s linear;
}

/* battery bar */

.myProgress{
  margin: 0 auto;
  top:5%;
  width:90%;
  background-color:#FFFFFF;
  border-radius: 0px;
  border: 1px solid #DDDDDD;
}

.myBar{
  width:25%;
  height:10px;
  background: linear-gradient(to right, #0069d2, #00D7FF, #E1FF32);
  border-radius: 0px;
}

/* buttons */
.btn-main-2 {
  color: #FFFFFF;
  background-color: #0069D2;
  border-color: #0069D2;
  border-radius: 25px;
  text-decoration:none; 

}

.btn-main-2-outline {
  color: #24586E;
  background-color: #FFFFFF;
  border-color: #0069D2;
  border-radius: 25px;
  text-decoration:none; 
}


.btn-main-1 {
  color: #FFFFFF;
  background-color: #00D7FF;
  border-color: #00D7FF;
  border-radius: 25px;
  text-decoration:none; 

}

.btn-main-1-outline {
  color: #24586E;
  background-color: #FFFFFF;
  border-color: #00D7FF;
  border-radius: 25px;
  text-decoration:none; 
}

.btn-main-1-outline-1 {
  color: #FFFFFF;
  background-color: #00D7FF;
  border-color: #87D3F4;
  border-radius: 25px;
  text-decoration:none; 
}

.btn-main {
  color: #FFFFFF;
  background-color: #28E1A5;
  border-color: #28E1A5;
  border-radius: 25px;
  text-decoration:none; 
}

.btn-main a {
  color: #FFFFFF;
}

.btn-main:hover, .btn-main:focus, .btn-main:active:hover{
  color: #fff;
  background-color: 28E1A5;
  border-color: 28E1A5;
  text-decoration:none; 
}

.btn-main-outline {
  color: #24586E;
  background-color: #FFFFFF;
  border-color: #28E1A5;
  border-radius: 25px;
  text-decoration:none; 
}

.btn-main-outline a {
  color: #28E1A5;
}
.btn-main-outline:hover, .btn-main-outline:focus, .btn-main-outline:active:hover{
  color: #28E1A5;
  background-color: #FFFFFF;
  border-color: #28E1A5;
  text-decoration:none; 
}

.btn-gray-outline {
  color: #B9BCBF;
  background-color: #FFFFFF;
  border-color: #F1F3F3;
  border-radius: 25px;
  text-decoration:none; 
}

.btn-dark-blue {
  color: #FFFFFF;
  background-color: #0069D2;
  border-color: #0069D2;
  border-radius: 25px;
  text-decoration:none; 
  
}




