.container {
  padding-top: 30px;
  padding-bottom: 30px;
  
}

.border{
  border:1px solid #AAAAAA;
  border-radius:10px;

}

.white{
  background:#FFFFFF;
}

.text-white{
  color: #FFFFFF;
}


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Hiragino Sans, Microsoft JhengHei , sans-serif;
  color: #666C65;
}

.bottom{
  padding: 150px 20px 150px 20px;
}
a {
  color: #666C65;
  text-decoration: none;
}
/*
h2{
  animation: zoom 1s ease-in-out 0s 1 normal forwards;
}
*/
#map {
  height: 100%;
  border: 1px solid #DDDDDD;
}

.thumbnail{
  border:none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0px;
  padding: 0px;
   font-family: Heiti SC, Microsoft JhengHei , sans-serif;
   color: #666C65;
   font-weight: 200;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
/*nav*/
.navbar-default .navbar-nav > li > a {
  color: #FFFFFF;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color:#FFFFFF;
}


.brand{
  padding-top: 14px;
  position:absolute;
  left:50%;
  margin-left:-50px !important;
  font-family: "graphik-lt", "PingFangTC-Light", "Noto Sans Light";
}

.nav-style{
  background:#C6E6A7;
  padding: 5px 5px 0px 20px;
  border:none;
  margin-bottom:0;
}
.navbar-header button{
  border:none;
}

.navbar-text {
  color: #FFFFFF;
  margin: 0 15px;
}

.nav-icon{
  margin: 1px 1px;
  display: inline-block;
  font-size: 2em;
  color:#FFFFFF;
  height:50px;

}

.nav-icon-style{
  height:32px;
  width: 66px;
  display: inline-block;
}

.my-nav-tab {
  background:#FFFFFF;
  padding: 5px;
  text-align: center;
  border-bottom: 0.5px solid #AAAAAA;
  border-right: 0.5px solid #AAAAAA;
  }

.nav-number{
  margin: 1px 1px;
  display: inline-block;
  font-size: 20px;
  color: #979797;
  padding-top:8px;
}

.nav-number-inactive{
  
  display: inline-block;
  font-size: 16px;
  color: #FFFFFF;
  padding-top:5px;

}

.nav-icon a {
text-decoration:none; 
}
.table a {
  text-decoration:none;
}

/*user */

.nav-pills {
  font-size: 12px;
  margin-top: 5px;
}


.user-data {
  margin-top: 5px;
  color: #6C6565;
}

.user-avatar {
  margin-top: 30px;
}
.avatar {
  width: 90px;

}

.user-icon{
  width: 30px;

}
.user-icon-text{
  margin-top: 10px;

}

input[type='file'] {
  color: transparent;
}

.media{
  margin-top: 0 ;
  margin-bottom:10px;
}


.media-heading img{
 width:20%;
 height:20%;

}

.uploader{
  padding: 0 10%;
}
.name-topping{
  padding-top:15px;
}
.user-badge{
  cursor:pointer;
  overflow:auto;
}
.user-badge img:active{
  transform:scale(2);
  opacity:0;
  transition:all .4s linear;
}



/*trips#index*/

.card-trip {
  border-radius: 8px;
  width: 167px;
  margin: 0 auto;
}

.card-trip img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  width: 167px; 
  height: 186px;
}

.card-trip-body {
  height: 73px;
  padding-top: 5px;
  padding-right: 5px;
}

.card-trip-body a {
  color: #FFFFFF;
}

.card-trip-body p {
  color: #FFFFFF;
}

.badges{
  margin: 0 0 20px 0;

}

.bettery-green{
  border-radius: 10%;
  border:1px solid #A1CA76;
  margin:10px auto;
  padding: 15px;
}
.bettery-red{
  border-radius: 10%;
  border:1px solid #FFB6B6;
  margin:10px auto;
  padding: 15px;
  box-shadow:0px 0px 10px #FF9999;

}

.bettery-green-sm{
  border-radius: 10%;
  border:1px solid #A1CA76;
  margin:3px auto;
  padding: 3px;
  width: 60px;
  hiegh: 60px;
}

.bettery-red-sm{
  border-radius: 10%;
  border:1px solid #FFB6B6;
  margin:3px auto;
  padding: 3px;
  width: 60px;
  hiegh: 60px;
  box-shadow:0px 0px 10px #FF9999;
}

.bettery img{
  width:100%;
  height:100%;
}

.typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 2.5s steps(40, end),
    blink-caret .75s step-end infinite;
  animation-delay: 1s;
}

.trip-screen{
   margin-top:30px;
   padding: 10px;
   line-height: 2em;
   color:#4A90E2;
}

.badges-container a{
  text-decoration:none;
  color:  #888888;
  letter-spacing:0.3em;
}

.trip-img {
  padding: 5px;
}

/*trips#show*/


.myProgress{
  margin: 0 auto;
  top:5%;
  width:90%;
  background-color:#FFFFFF;
  border-radius:50px;
  border: 2px solid #DDDDDD;
}

.myBar{
  width:25%;
  height:10px;;
  background: linear-gradient(to right, #6495ED, #E0FFFF);
  border-radius:50px;
}



.trip-button{
  border:2px solid #6495ED;
  background-color: #F5F5F5;
  animation:tripbutton 0.3s ease-in-out 0s 12 normal forwards;
}
.comment-group{
  width:90%;
  margin: 10px auto;
}
.comment{
  background:#FFFFFF;
  border-radius:10px;
  margin-bottom:10px;
}

/* The typing effect */
@keyframes typing {
  from { width: 0;opacity:0;}
  to { width: 100% ;opacity:1;}
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: orange; }
}

/* Text transition*/

@Keyframes zoom{
  from{font-size:0px;}
  to{font-size:25px;}
}

/*bettery frame*/

@keyframes betterylight-green{
  from{opacity:0;}
  to{opacity:1;box-shadow:0px 0px 10px #00FF00;}
}
@keyframes betterylight-red{
  from{opacity:0;}
  to{opacity:1;box-shadow:0px 0px 10px #FF9999;}
}
@Keyframes tripbutton{
  from{}
  to{box-shadow:0px 0px 10px #6495ED;}
}

/*
 * Keyframes


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

 */


/*
 * CSS Page Transitions
 * Don't forget to add vendor prefixes!
   */
.m-scene {
  /** Basic styles for an animated element */
  .scene_element {
    animation-duration: 0.25s;
    transition-timing-function: ease-in;
    animation-fill-mode: both;

  }

  /** An element that fades in */
  .scene_element--fadein {
    animation-name: fadeIn;
  }

  /** An element that fades in and slides up */
  .scene_element--fadeinup {
    animation-name: fadeInUp;
  }

  /** An element that fades in and slides from the right */
  .scene_element--fadeinright {
    animation-name: fadeInRight;
  }
}


  .m-scene.is-exiting .scene-element {
  animation-direction: alternate-reverse;
  }

/* footer */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #FFFFFF;
    background-color: #50A1D8;
    text-align: center;
}
/* button */
.btn-green {
  color: #6C6565;
  background-color: #C6E6A7;
  border-color: #C6E6A7;
  border-radius: 20px;
  text-decoration:none; 
}

.btn-green-outline {
  color: #6C6565;

  border-color: #C6E6A7;
  border-radius: 20px;
  text-decoration:none; 
}

.btn-main {
  color: #FFFFFF;
  background-color: #77D6AC;
  border-color: #77D6AC;
  border-radius: 20px;
  text-decoration:none; 
}

.btn-main a {
  color: #FFFFFF;
}

.btn-main:hover, .btn-main:focus, .btn-main:active:hover{
  color: #fff;
  background-color: 77D6AC;
  border-color: 77D6AC;
  text-decoration:none; 
}

.btn-main-outline {
  color: #77D6AC;
  background-color: #FFFFFF;
  border-color: #77D6AC;
  border-radius: 20px;
  text-decoration:none; 
}

.btn-main-outline a {
  color: #77D6AC;
}
.btn-main-outline:hover, .btn-main-outline:focus, .btn-main-outline:active:hover{
  color: #77D6AC;
  background-color: #FFFFFF;
  border-color: #77D6AC;
  text-decoration:none; 
}

/* products */
.card-product {
  border-radius: 8px;
  margin: 15px;
}


.card-product img {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-product .card-body .card-title {
  height: 30px;
}


