<div class="col-xs-12 col-sm-3 col-md-3">
  <% @products.each do |product|%>
    <%= image_tag product.image%>
    <p><%= product.name%></p>
    <p>$<%= product.product_points%></p>
    <%= link_to "兌換" , user_products_path(product_id: product,user_id: current_user.id), method: :post , class: "btn btn-primary"%>
  <%end%>
</div>







